.header {
   // position: fixed;
   z-index: 12;

   // @media(min-width: 768px) {
   //    padding-bottom: 25px;
   //    padding-top: 25px;
   // }
   .nav-bar {
      padding: 0 0 0 1rem;
      // background-color: red;s
      position: relative;

      .image-wrapper {
         display: block;
         padding: 0;
         // align-items: center;
         // justify-content: center;
         
      
         .logo-img {
            max-width: 65px;
            z-index: 11;

            @media(min-width: 767px) {
               // max-width: 85px;
            }
         }
      }

      .nav-wrapper {

         #flyoutMenu {
            width: 100vw;
            height: 100vh;
            background-color:rgb(19, 85, 22);
            position: fixed;
            top: 0;
            left: 0;
            overflow: scroll;
            z-index: 10;
            padding-top: 100px;
         }

         #roundButton {
            background-color: rgb(255, 255, 255);
            top: 25px;
            right: 30px;
            width: 40px;
            height: 10px;
            outline: none;
            position: absolute;
            z-index: 11;
         }

         // #roundButton:hover {
         //    background-color: rgb(146, 27, 27);
         //    outline: none;
         //    cursor: pointer;
         // }

         #roundButton:active, :focus {
            box-shadow: none;
         }
      }
   }
}

.fadeIn {
   opacity: 1;
   visibility: visible;
   // background-color: rgba(92, 91, 87, 0.9);
   -webkit-transition: opacity 300ms, visibility 300ms;
   transition: opacity 300ms, visibility 300ms;

   @keyframes opacity {
      0% {
         opacity: 0;
      }
      50% {
         opacity: .5;
      }
      100% {
         opacity: 1;
      }
   }
}

.fadeOut {
   opacity: 0;
   visibility: hidden;
   // background-color: rgba(92, 91, 87, 0.9);
   -webkit-transition: opacity 300ms, visibility 300ms;
   transition: opacity 300ms, visibility 300ms;

   @keyframes opacity {
      0% {
         opacity: 1;
      }
      50% {
         opacity: .5;
      }
      100% {
         opacity: 0;
      }
   }
}