.header {
   background-color: black;
   color: white;
   position: fixed;
   z-index: 9999;
   width: 100%;

   .navbar {
      background-color: red;
      padding: 10px 20px;
      position: fixed;
      z-index: 9999;
      width: 100%;

      img.logo {
         width: 50px;
         height: auto;
         margin-left: 25px;
      }

      .navbar-toggler {
         border: 0;
         outline: none;
      }

      .linkstyle {
         font-size: 1.2rem;
         margin: 0 20px 0 0;
         position: relative;
         text-align: center;
         
         a {
            color: inherit;
            text-decoration: none;
         }
      }
      .linkstyle:last-child {
         margin-right: 25px;
      }
   }
}

.fadeIn {
   opacity: 1;
   visibility: visible;
   background-color: rgba(92, 91, 87, 0.9);
   -webkit-transition: opacity 600ms, visibility 600ms;
   transition: opacity 600ms, visibility 600ms;

   @keyframes opacity {
      0% {
         opacity: 0;
      }
      50% {
         opacity: .5;
      }
      100% {
         opacity: 1;
      }
   }
}

.fadeOut {
   opacity: 0;
   visibility: hidden;
   background-color: rgba(92, 91, 87, 0.9);
   -webkit-transition: opacity 600ms, visibility 600ms;
   transition: opacity 600ms, visibility 600ms;

   @keyframes opacity {
      0% {
         opacity: 1;
      }
      50% {
         opacity: .5;
      }
      100% {
         opacity: 0;
      }
   }
}