.submit {
   
   .intro {
      text-align: center;
      font-size: 1.8rem;
      line-height: 1;
      font-weight: 600;
      padding-top: 30px;
   }

   .states {
      padding: 25px 0;
      color: red;
      font-weight: 600;
      font-size: 1rem;
      text-align: center;
      @media(min-width: $S) {
         text-align: left;
      }

      p {
      margin: 0;
      }
   }

   .form {
      margin: 0 auto;
      width: 100%;
      height: auto;
      max-width: 900px;

      .form-group {
         font-size: 1rem;
         margin-bottom: .5rem;

         .form-control {
            font-size: .8rem;
            padding: .2rem;
         }

         .has-error {

            border-color: #a94442;
         }

         .emailphone {

         }

         .last-row {

         }
      }
   }

   .button-row {
      text-align: center;
      @media(min-width: $S) {
         text-align: left;
         padding-top: 10px;
      }

      .submitbtn {
         display: inline-block !important;
      }
   }
   .sweet-alert {
      padding: 5px;
      
      h2 {
         font-size: 1.5rem;
         font-weight: 700;
      }

      .lead {
         font-size: 1.2rem;
      }

      .btn {
         display: none !important;
      }
   }

}