.contact-page {
   max-width: 1400px;
   margin: 0 auto;
   padding-bottom: 40px;

   .submit {
   
      .intro {
         text-align: center;
         font-size: 1.8rem;
         line-height: 1;
         font-weight: 600;
         padding-top: 30px;
      }
   
      .states {
         padding: 25px 0;
         color: red;
         font-weight: 600;
         font-size: .9rem;
         text-align: center;
         @media(min-width: $mobile) {
            text-align: left;
            font-size: 1rem;
         }
   
         p {
            margin: 0;
         }
      }
   
      .form {
         margin: 0 auto;
         width: 100%;
         height: auto;
         max-width: 900px;
   
         .input-copy {
            font-size: 1rem;
            margin-bottom: .5rem;
   
            .form-control {
               font-size: .8rem;
               padding: .2rem;
            }
   
            .has-error {
   
               border-color: #a94442;
            }
         }
      }
   
      .button-row {
         text-align: center;
         @media(min-width: $S) {
            padding-top: 10px;
         }
   
         .submitbtn {
            animation-duration: 2s;
            animation-delay: 1s;
            background-color: red;
            color: white;
            border: 0;
   
            padding: 10px 30px;
         }
   
         .submitbtn:disabled {
            opacity: .5;
         }
      }
      .sweet-alert {
         padding: 5px;
         
         h2 {
            font-size: 1.5rem;
            font-weight: 700;
         }
   
         .lead {
            font-size: 1.2rem;
         }
   
         .btn {
            display: none !important;
         }
      }
   }
}