html,
body {
  overflow-x: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0 auto;
  padding: 0;
  position: relative;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* style guide */
$font-stack: 'Arial', sans-serif;
$font-size-base: 12px;

// screen sizes
$L: 1200px;
$M: 992px;
$S: 768px;
$mobile: 480px;

// display: none @ 480px
.em_hide480 {
  @media (max-width: $mobile) {
    display: none !important;
  }
}

$displayNoneDT: none !important;
$displayNoneMB: block !important;

.em_hide {
  display: none !important;
  @media (min-width: $S) {
    display: block !important;
  }
}
