.home-page {

   .spinner-container {
      padding: 20% 0;
      margin: 0 auto;
      position: relative;


      .index-bgImg {
         // background-color: #262626;
         left: 50%;
         top: 50%;
         transform: translate(-50%, -50%);
         position: absolute;
         transform: translateX(-50%);
         background-image: url("/static/img/barca.png");
         background-repeat: no-repeat;
         background-position: center;
         max-width: 500px;
         height: 500px;
         // -webkit-animation:spin 5s linear infinite;
         // -moz-animation:spin 5s linear infinite;
         // animation:spin 5s linear infinite;
         // @-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
         // @-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
         // @keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }
      }
   }

   .acqua {
      background: linear-gradient(to bottom, #262626, #ffffff);
      color: white;
      height: 500px;
      text-align: left;
      // for now
   }

   .black {
      background: linear-gradient(to bottom, #ffffff, #262626);
      color: black;
      height: 500px;
      text-align: right;
      // for now
   }

   .index-component {

      animation-duration: 2s;
      animation-delay: 2s;
   }

   // update the positon of the spinner, middle of the page
   // optimize it for mobile turn off and be static
   // fix header menu 
   // make it sexy


}